:root{
    --mainColor: #3A3E59;
    --secondColor: #F37563;
    --backgroundColor: #F1EAD1;
}

body {
    font-family: "Quicksand", sans-serif;
    height: 100%;
    margin: 0;
    /* display: flex; */
}

.jumbotron {
    font-size: 20px;
    padding: 50px;
    background-color: var(--mainColor);
    text-align: center;
    color: white;
}

nav {
    background-color: var(--secondColor);
    align-items: baseline;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;     
    border-radius: 999px;
    transition: all 0.3s ease-in-out;
}
  
nav a:hover {
    font-weight: bold;
    background-color: var(--backgroundColor);
    color: black;
}
  
main {
    display: flex;
    /* margin: 20px 50px; */
    flex-flow: column wrap;
    /* flex: 1; */
}

h1 {
    font-weight: bolder;
    font-size: 50px;
    line-height: 2px;
}

h3 {
    color: var(--mainColor);
    line-height: 35px;
    font-size: 20px;
}

main .hero {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 100px;
}

main.hero-left {
    gap: 10px;
}

main .hero .hero-right img {
    height: 280px;
}

main .hero .hero-left .subtittle {
    font-weight: bold;
    /* line-height: 30px; */
    font-style: italic;
    font-weight: 18px;
}

main .about-container {
    font-size: 20px;
    margin: 120px 200px;
}

main .education-container {
    font-size: 20px;
    margin: 120px 150px;
}

footer.home,
footer.about,
footer.education {
    display: flex;
    font-size: 16px;
    background-color: var(--secondColor);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer.gallery {
    display: flex;
    font-size: 16px;
    background-color: var(--secondColor);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    color: white;
    width: 100%;
}