body {
    font-family: "Quicksand", sans-serif;
}

.jumbotron {
    font-size: 20px;
    padding: 50px;
    background-color: #2C2C2C;
    text-align: center;
    color: white;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
  
nav {
    background-color: #E4E4E4;
    padding: 5px;
    position: sticky;
    top: 0;
}

main {
    margin: 50px;
}

footer {
    font-size: 16px;
    padding: 30px;
    background-color: #E4E4E4;
    text-align: center;
}

